body {
    font-family: Arial, sans-serif;
    background-color: #050505;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.thank-you-container {
    text-align: center;
    background-color: #101010;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@keyframes rgb-cycle {
    0% { filter: hue-rotate(0deg); }
    25% { filter: hue-rotate(90deg); }
    50% { filter: hue-rotate(180deg); }
    75% { filter: hue-rotate(270deg); }
    100% { filter: hue-rotate(360deg); }
  }
.monster{
    width: 50%; /* Ensure the image fits within the container */
    height: auto; /* Maintain aspect ratio */
    object-fit: cover; /* Adjust image to cover the container */
    border-radius: 8px; /* Match card's border radius if desired */
    animation: rgb-cycle 5s infinite linear;
}
h1 {
    color: #c70039;
    margin-bottom: 10px;
}

p {
    color: whitesmoke;
    margin-bottom: 20px;
}

.button {
    text-decoration: none;
    color: whitesmoke;
    background-color: #c70039;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
}
